body {
  background: #000;
  color: #fff;
  line-height: 1.6;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding-top: 100px; 
}


header {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px 30px;
  z-index: 1000;
  gap: 60%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}


.logo img {
  width: 60px;
  height: auto;
  display: block;
  cursor: pointer;
  transition: transform 0.3s;
  color: white;
  background-color: azure;
}

.logo img:hover {
  transform: scale(1.1);
}


.navbar .nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.navbar .nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s;
  gap: 30px;
}

.navbar .nav-links li a:hover {
  color: #f39c12;
}

.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: black url('cafeimagens/nsplsh_5468315376372d31344c38~mv2.avif') no-repeat center center/cover;
  padding: 0 20px;
}


.home .content h3 {
  font-size: 3.5rem;
  font-weight: bold;
}

.home .content p {
  font-size: 1.8rem;
  margin: 20px 0;
}

.btn {
  display: inline-block;
  background: #f39c12;
  color: white;
  padding: 12px 25px;
  border-radius: 5px;
  font-size: 1.2rem;
  text-decoration: none;
  
}

.btn:hover {
  background: #d35400;
}

.about {
  padding: 80px 20px;
  background: #111;
  text-align: center;
}

.about .title {
  font-size: 3rem;
  margin-bottom: 30px;
}

.about .content p {
  font-size: 1.6rem;
  max-width: 800px;
  margin: 0 auto;
}

.menu {
  background: #000;
  padding: 80px 20px;
  text-align: center;
}

.menu .title {
  font-size: 3rem;
  margin-bottom: 50px;
  color: #f39c12;
}

.menu-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  max-width: 1000px;
  margin: 0 auto;
}

.menu-item {
  background: #111;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.menu-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(243, 156, 18, 0.3);
}

.menu-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.menu-item h3 {
  margin-top: 15px;
  color: #f39c12;
}

.menu-item p {
  font-size: 1rem;
  margin: 10px 0;
}

.menu-item span {
  font-weight: bold;
  font-size: 1.2rem;
}

.contact {
  background: #111;
  padding: 60px 20px;
  text-align: center;
  margin-left: 0%;
}

.contact .title {
  font-size: 2.5rem;
  color: #f39c12;
  margin-bottom: 20px;
}

.contact p {
  font-size: 1.2rem;
  margin: 5px 0;
}
